@model Tamagotchi.Application.Organizations.Base.DTOs.GetOrganization


<form method="post" asp-action="CreateOrUpdate" asp-controller="Organizations" data-val="false">
    <div class="modal-header">
            <h4 class="text-primary">@(Model?.Id > 0 ? "Update Organization" : "Create Organization") </h4>
            <button type="button" class="close" onclick="Util.closeModal()">
                <i class="bi bi-x" style="color:white;"></i>
            </button>
    </div>
        
    <div class="modal-body">
        
        <input asp-for="Id" class="form-control" hidden="hidden" />
        @*<input asp-for="url" class="form-control" hidden="hidden" />
        <input asp-for="address2" class="form-control" hidden="hidden" />
        <input asp-for="state" class="form-control" hidden="hidden" />
        <input asp-for="postcode" class="form-control" hidden="hidden" />
        <input asp-for="city" class="form-control" hidden="hidden" />
        <input asp-for="country" class="form-control" hidden="hidden" />
        <input asp-for="photos" class="form-control" hidden="hidden" />
        <input asp-for="primaryIcon" class="form-control" hidden="hidden" />
        <input asp-for="primaryPhoto" class="form-control" hidden="hidden" />*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Input Name" required />
        </div>

        <div class="mb-3">
            <label asp-for="OrganizationId"></label>
            <input asp-for="OrganizationId" class="form-control" placeholder="Input Organization Id" required />
        </div>

        <div class="mb-3">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" placeholder="Input Organization Phone" />
        </div>
        
        <div class="mb-3">
            <label asp-for="Address1"></label>
            <input asp-for="Address1" class="form-control" placeholder="Input Organization Url" />
        </div>
        
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="Input Organization Email" />
        </div>

        <div class="mb-3">
            <label asp-for="Website"></label>
            <input asp-for="Website" class="form-control" placeholder="Input Organization Email" />
        </div>
    </div>
        
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        
        <a onclick="Util.closeModal()" class="btn btn-secondary float-right">Close</a>
    </div>
</form>
