@model TamagotchiWeb.Application.AnimalTypes.Base.DTOs.GetAnimalType

<form method="post">
    <div class="modal-header">
            <h4 class="text-primary">Create Animal Type</h4>
            <button type="button" class="close" onclick="Util.closeModal()">
                <i class="bi bi-x" style="color:white;"></i>
            </button>
    </div>
        
    <div class="modal-body">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Input Name" />
        </div>

        <div class="mb-3">
            <label asp-for="Coats"></label>
            <input asp-for="Coats" class="form-control" placeholder="Input Coats" />
        </div>

        <div class="mb-3">
            <label asp-for="Genders"></label>
            <input asp-for="Genders" class="form-control" placeholder="Input Genders" />
        </div>

        <div class="mb-3">
        <label asp-for="Colors"></label>
        <input asp-for="Colors" class="form-control" placeholder="Input Colors" />
        </div>
    </div>
        
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create</button>
        
        <a onclick="Util.closeModal()" class="btn btn-secondary float-right">Close </a>
    </div>
</form>

<script>
    function futureFeature()
    {
        Util.closeModal();
    }
</script>