
<table id="tableAnimals" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Color</th>
            <th>Organization Id</th>
            <th style="width: 5%">Action</th>
        </tr>
    </thead>
</table>

<script>$(document).ready(function () {

        $('#tableAnimals').DataTable({
            "paging": true,
            "processing": true,
            "serverSide": true,
            "searching": true,
            "lengthChange": true,
            "responsive": true,
            "columnDefs": [{ targets: 'no-sort', orderable: true }],
            "ordering": true,
            "autoWidth": false,
            "ajax": {
                "url": '/Animals/GetPaginatedTable',
                "type": "POST",
                "data": function (data) {
                    var additionalValues = [];
                    additionalValues[0] = null;
                    data.additionalValues = additionalValues;
                    return data;
                }
            },
            "columns": [
                { data: "animalId" },
                { data: "name" },
                { data: "type" },
                { data: "primaryBreed" },
                { data: "gender" },
                { data: "age" },
                { data: "primaryColor" },
                { data: "organizationId" },
                //{
                //    data: "creationTime",
                //    render: function (data, type, row) {
                //        let date = new Date(data);
                //        return date.toUTCString();
                //    }
                //},
                {
                    data: "id",
                    render: function (data, type, row) {
                        const otherUsersBtn = '<a href="/" onclick="logInAs(\'' + data + '\')" class="btn btn-secondary"><i class="fas fa-eye"></i></a>'
                            + "<a onclick='onDeletingUser(" + JSON.stringify(row) + ")' class='btn btn-danger'><i class='fas fa-trash'></i></a>";

                        return "<div class='btn-group btn-group-sm'>"
                            + "<a onclick='onEditingAnimal(" + JSON.stringify(row) + ")' class='btn btn-info'><i class='fas fa-pen'></i></a>"
                            + "<a onclick='onDeletingAnimal(" + JSON.stringify(row) + ")' class='btn btn-danger'><i class='fas fa-trash'></i></a>"
                            + "</div>";
                    }
                }
            ]
        });

    }
    );

    function onEditingAnimal(model) {
        Util.editModal(model, '/Animals/OpenCreateUpdate');
    }

    function onDeletingAnimal(model) {
        Util.confirmWithoutInject(model, '/Animals/Delete',
            {
                onSuccessComplete: function () {
                    $('#tableAnimals').DataTable().ajax.reload(null, false);
                }
            }
        );

        $('#tableAnimals').DataTable().ajax.reload(null, false);
    }</script>