<div class="modal fade" id="viewModals" User="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" id="viewModals_dialog">
        <div class="modal-content">
            <div class="modal-body" id="viewModals_modalBody" />
        </div>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}