@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is sample version of Tamagotchi admin panel. <a href="https://github.com/IaamRich/Tamagotchi">See updates here</a>.</p>
</div>
